# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
*.db
*.sqlite

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*

# OS / IDE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

# Storage / Temp files
backend/storage/
